.jumbotron {
    background-color: lightslategrey;
    color: whitesmoke;
    margin-top: 3rem;
}

.btn {
    color: whitesmoke;
    background-color: rgba(28, 31, 184, 0.658);
    margin-bottom: 1rem;
    border-radius: 0%;
}

footer {
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    background-color: lightslategrey;
    margin-top: 1rem;
}

a {
    color: white;
}

.card-hotel {
    flex: 1 15rem;
    padding: 2px 10px 10px 2px;
    margin-top: 1rem;
    border: rgba(75, 73, 73, 0.685);
}

.btn-reserva {
    border-radius: 0%;
    width: 100%;
    justify-content: center;
}

.footer-address-icon {
    padding-right: 1rem;
}

.btn-link {
    background-color: whitesmoke;
    color: rgb(10, 10, 92);
    font-size: 1rem;
}

.btn-outline-success {
    background-color: green;
    width: 100%;
}

.cdcd {
    width: 100%;
}